<ion-header>
    <ion-toolbar mode="md" style="text-align: center">
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let group of groups">
      <ion-label>{{group.group_name}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="group.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="onShare()" float-left>
    Share
  </ion-button> 
  <ion-button (click)="close()" color="secondary" float-right>
      Close
    </ion-button>  
</ion-content>
