<ion-header>
  <ion-toolbar>
    <ion-title text-center class="toolbar-title" color="primary">
      {{groupName}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" autoHide="false"></ion-menu-button>
    </ion-buttons>
     <ion-back-button color="primary" defaultHref='/tabs/tab1'></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let news of newsfeed" >
      <ion-card-content>
        <p class="source-header" (click)="goToArticle(news.newsgroup.news.news_url, news.newsgroup.news.news_source)">{{news.newsgroup.news.news_source}}</p>
        <h2 class="feed-item-title" (click)="goToArticle(news.newsgroup.news.news_url, news.news_source)">{{news.newsgroup.news.news_title}}</h2>
        <p (click)="goToArticle(news.newsgroup.news.news_url, news.news_source)">{{news.newsgroup.news.news_content}}</p>
        <p>Shared by {{news.newsgroup.poster.user_name}}</p>
        
      </ion-card-content>
      <ion-item>
          <ion-icon name="share-alt"  float-right (click)="onShare(news.newsgroup.news.news_id)"></ion-icon>
          <ion-icon name="thumbs-up"  float-right (click)="onThank(news.id, news.newsgroup.poster.user_id)"></ion-icon>
          <p>({{news.num_thank}})</p>
      </ion-item>
    </ion-card>

</ion-content>

