<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title" color="primary">
      News Circle
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-icon name="ios-funnel" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let news of newsfeed" >
      <ion-card-content>
        <p class="source-header" (click)="goToArticle(news.news_url, news.news_source)">{{news.news_source}}</p>
        <h2 class="feed-item-title" (click)="goToArticle(news.news_url, news.news_source)">{{news.news_title}}</h2>
        <p (click)="goToArticle(news.news_url, news.news_source)">{{news.news_content}}</p> 
      </ion-card-content>
      <ion-item>
          <ion-icon name="md-heart"  float-right></ion-icon>
          <ion-icon name="share-alt"  float-right (click)="onShare(news.news_id)"></ion-icon>
      </ion-item>
    </ion-card>

</ion-content>
