<ion-header>
  <ion-toolbar>
    <ion-title>
      News Page YEAH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let news of newsfeed">
      <ion-card-header>
        <ion-card-subtitle>{{news.news_title}}</ion-card-subtitle>
        <ion-card-title>{{news.news_author}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{news.news_content}}</p>
        <button ion-button (click)="getNews()">Punch it!</button>
      </ion-card-content>
    </ion-card>
</ion-content>
