<ion-header>
  <ion-toolbar>
    <ion-title>
      All Feeds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let news of newsfeed" (click)="goToArticle(news.news_url, news.news_source)">
      <ion-card-content>
        <p class="source-header">{{news.news_source}}</p>
        <h2 class="feed-item-title">{{news.news_title}}</h2>
        <!-- <p>{{news.news_content}}</p> -->
        <ion-button size="small" class="button-right">Save</ion-button>
        <ion-button size="small" class="button-right">Share</ion-button>
      </ion-card-content>
    </ion-card>
    <!-- <button ion-button (click)="getNewsNYT()">Punch it!</button> -->
</ion-content>
