

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.toolbar-title{
    text-align: center; 
}
/*Headlines*/
h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.button-ss-feed {
	float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    color: var(--ion-color-secondary)

}

.card-subline{
    display:flex;
    height: auto;
}
.avatar{
    display:inline-block;
    height:auto;
}