

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


/*Headlines*/
h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.button-ss-feed {
	float: right;
    margin-top: 1em;
    margin-bottom: 1em;

}

