<ion-tabs>

  <ion-tab-bar class='toolbar-background' slot="bottom">
    <ion-tab-button  class='ion-tab-buttons' tab="tab1">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>News Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button class='ion-tab-buttons' tab="tab2">
      <ion-icon name="md-share"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button class='ion-tab-buttons' tab="tab3">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
