<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-list>
    <ion-item>
      <ion-label >
          Fanpan Zeng
        </ion-label>
        <ion-text color="primary">
            zfp@umich.edu
          </ion-text>

      <ion-button (click)="invite()">Invite</ion-button>

    </ion-item>

    <ion-item>
        <ion-label>Amanda </ion-label>
      
          <ion-text color="primary">
              <p>amanda@google.com</p>
            </ion-text>
        <ion-button (click)="invite()">Invite</ion-button>
  
    </ion-item>
  </ion-list>

</ion-content>
