<ion-app>
  <!--Ripped this code for the menu-->
  <ion-menu style="color:red;"contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
      <ion-header>GROUP</ion-header>
      <ion-item>
      <ion-checkbox></ion-checkbox>
        <ion-header>ALL</ion-header> 
        </ion-item>

    </ion-list>

      <ion-list>
      <ion-header>PRIVATE</ion-header>
      <ion-item>

      <ion-checkbox></ion-checkbox>
      <ion-header>My favorite</ion-header>
      </ion-item>
    </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet  id="content1" main></ion-router-outlet>
  
</ion-app>
