<ion-header>
  <ion-toolbar class="toolbar-background">
    <!-- <ion-title class="toolbar-title">Inbox</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" autoHide="false"></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-segment [(ngModel)]='inbox'>
                <ion-segment-button value="invitation">
                    <ion-label>Invitation</ion-label>
                    <ion-icon name="mail"></ion-icon>
                  
                </ion-segment-button>
                <ion-segment-button value="thanks">
                    <ion-label>Thanks</ion-label>
                    <ion-icon name="heart"></ion-icon>
                </ion-segment-button>
              </ion-segment>

    <div [ngSwitch]="inbox">
 
        <ion-list *ngSwitchCase="'invitation'" >
        <ion-card  *ngFor="let invitation of invitationList">
            <ion-card-header>
                 <ion-card-title>{{invitation.sender.user_name}} Invite you to join {{invitation.group.group_name}}</ion-card-title>
                <ion-card-subtitle>Status: {{invitation.status}}</ion-card-subtitle>
                <ion-card-subtitle>Time: {{invitation.timestamp | date:'fullDate'}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
              </ion-card-content>
              <ion-button (click)="accept(invitation.invitation_id,invitation.group.group_id)" fill="clear" float-left>
                  <ion-icon name="checkmark-circle"></ion-icon>
                  Accept</ion-button>
        
              <ion-button (click)="decline(invitation.invitation_id,invitation.group.group_id)" fill="clear"  float-right> 
                <ion-icon name="close"></ion-icon>
                Decline</ion-button>
        </ion-card>
  </ion-list>

  <ion-list *ngSwitchCase="'thanks'">
      <ion-card *ngFor="let thank of thanksList">

        <ion-card-header>
            <ion-card-title> {{thank.thank_origin.user_name}} thanks your share
                </ion-card-title>       
        </ion-card-header>

        <ion-card-content>
            <ion-card-subtitle>
                    News title: {{thank.news_group.news.news_title}} 
            </ion-card-subtitle>
            <ion-card-subtitle>
                Group: {{thank.news_group.group.group_name}}
            </ion-card-subtitle>

      </ion-card-content>
      <ion-button  slot="start" fill="clear" (click)="readThank(thank.thank_id,thank)"> 
            <ion-icon size="small" name="checkmark-circle"></ion-icon>
            Mark as read
    </ion-button>
      </ion-card>
  </ion-list>

</div>
</ion-content>
