<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card *ngFor="let invitation of invitationList">
  <ion-title></ion-title>
    <ion-card-header>   
        <ion-card-title>{{invitation.sender}} Invite you to join {{invitation.group}}</ion-card-title>
        <ion-card-subtitle>Status: {{invitation.status}}</ion-card-subtitle>
        <ion-card-subtitle>Time: {{invitation.timestamp | date:'fullDate'}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      </ion-card-content>
      <ion-button (click)="accept(invitation.invitation_id,invitation.group)" shape="round" color="primary" slot="primary" float-left>Accept</ion-button>
      <ion-button (click)="decline(invitation.invitation_id)" shape="round" color="danger" fill="outline" float-right>Decline</ion-button>
</ion-card>
</ion-content>
