<ion-header>
  <ion-toolbar>
    <ion-title>Add members to {{group.name}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list>
        <ion-item *ngFor="let user of users">
          <!-- <ion-avatar style="width:50%;height:auto"> <img src="../../assets/image/avatar.png"> </ion-avatar> -->
          <ion-icon name="person"></ion-icon>
          <ion-label>{{user.user_name}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="user.checked"></ion-checkbox>
        </ion-item>
      </ion-list>

  <ion-button color="danger" (click)="close()" float-right>
    Close
  </ion-button>
  
  

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button (click)="send()" expand="full">
            Invite to Group
          </ion-button> 
  </ion-toolbar>
  </ion-footer> 