<ion-header>
  <ion-toolbar>
    <ion-title>{{groupName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/group"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-button shape="round" fill="outline" (click)="addUser()">
          <ion-icon name="person-add" >      
            </ion-icon>
      </ion-button>
  </ion-item>
   
<ion-list>
  <ion-title>Members</ion-title>

  <ion-item *ngFor="let member of members">
    <ion-title>
      {{member.user.user_name}}
    </ion-title>

    <ion-item (click)="remove(member.user.user_id)">
        <ion-icon name="trash"></ion-icon>
    </ion-item>
</ion-item>

</ion-list>

<ion-list > 
  <ion-title color="medium">Pending Users</ion-title>

  <ion-item  *ngFor="let user of pendingUsers">
      <ion-title color="medium">
       {{user.user.user_name}}
      </ion-title>
  </ion-item>
  
  </ion-list>

</ion-content>
