<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">Group {{groupName}}</ion-title>
      <ion-back-button slot="start" defaultHref="/group"></ion-back-button>
    <ion-button shape="round" fill="clear" float-right (click)="addUser()">
        <ion-icon name="person-add"></ion-icon>
        </ion-button>
  </ion-toolbar> 
   
</ion-header>

<ion-content padding>

   
<ion-list>
    <ion-list-header>
        <ion-label>Members</ion-label>
      </ion-list-header>

  <ion-item *ngFor="let member of members">
    <ion-label>
      {{member.user.user_name}}
    </ion-label>

    <ion-item (click)="remove(member.user.user_id)">
        <ion-icon name="trash"></ion-icon>
    </ion-item>
</ion-item>

</ion-list>
<div>
<ion-list >
    <ion-list-header>
        <ion-label color="medium">Pending Users</ion-label>
      </ion-list-header> 


  <ion-item  *ngFor="let user of pendingUsers">
      <ion-label color="medium">
       {{user.user.user_name}}
      </ion-label>
  </ion-item>
  
  </ion-list>
</div>
</ion-content>
